* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgba(160, 160, 160, 0.702);
}


h2,
h3,
h4,
h5,
h6 {
  margin: 15px;
}

p {
  margin: 25px;
}

/* test grid */
.grid {
  display: grid;
  /* height: 100%; */
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr ;
  grid-template-areas: 
    "t-image space nav-title "
  ;
}

.space {
  grid-area: space;
}

.title-image {
  display: flex;
  grid-area: t-image;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nav-title {
  display: flex;
  grid-area: nav-title;
  justify-content: flex-end;
  align-items: center;
  }

.nav-title p a {
  color: black ;
  cursor: pointer;
  text-decoration: none underline;
}


/* end of test */

.sub-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color:rgba(81, 128, 204, 0.654);
  margin: 5 auto;
  border-radius: 5px;
}

/* work grid */
#work-grid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 
  "study-guide assignment1 coming-soon"
  "coming-soon coming-soon css-cheatsheet"
  "coming-soon coming-soon css-cheatsheet"
  ; 
  /* WHY IS THIS NOT WORKING ? */
}

#study-guide {
  grid-area: "study-guide";
  background-image: url(../images/02-portfolio-1.jpg);
}

#assignment1 {
  grid-area: "assignment1";
  background-image: url(../images/02-portfolio-2.jpg);
}

#css-cheatsheet {
  grid-area: "css-cheatsheet";
  background-image: url(../images/CSS-Cheatsheet.png);
}

#coming-soon {
  grid-area: "coming-soon";
  background-image: url(../images/02-portfolio-3.jpg);
}

.work-grid-area {
  display: grid;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: end;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.work-heading {
  background-color: rgba(255,255,255,0.5);
  color: black;
  height: 25px;
  padding: 1px;
  font-size: 18px;
  text-align: end;
}


