* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgba(208, 208, 208, 0.702);
}


h2,
h3,
h4,
h5,
h6 {
  margin: 15px;
}

p {
  margin: 25px;
}

/* navigation grid and avatar */
.grid {
  display: grid;
  /* height: 100%; */
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr ;
  grid-template-areas: 
    "t-image space nav-title "
  ;
}

.space {
  grid-area: space;
}

.title-image {
  display: flex;
  grid-area: t-image;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nav-title {
  display: flex;
  grid-area: nav-title;
  justify-content: flex-end;
  align-items: center;
  }

.nav-title p a {
  color: black ;
  cursor: pointer;
  text-decoration: none underline;
  font-size: 16px;
  font-weight: bold;
}


/* sub-heading */

.sub-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color:rgba(81, 128, 204, 0.654);
  margin-top: 30px;
  margin: 5 auto;
  border-radius: 5px;
}

/* about me section */

#about {
  margin-top: 50px;
  margin-bottom: 60px;
}

#aboutMe, #contactMe{
  margin-left: 26px;
}
#aboutMe, #work-header, #contactMe {
  text-decoration: underline;
}

/* portfolio */

